<template>
  <div>
    <v-card class="mx-auto">
      <v-toolbar style="
          background: linear-gradient(to top, #b2e8ab, #3ab814);">
        <v-toolbar-title class="text-white">
          <h2>Carga de Bases para Willis Motos</h2>
          <div class="flex-grow-1"></div>
        </v-toolbar-title>
      </v-toolbar>
      <v-row class="col-12">
        <v-col cols="4">
          <v-img src="/img/excel.png" max-width="250" max-height="250" style="margin-left:15%"></v-img>
          <ol>
            <li class="font-weight-black text-justify" style="text-decoration: underline red">Recuerde no alterar el orden de esta plantilla ni los nombres de las columnas.</li>
            <li class="font-weight-black text-justify" style="text-decoration: underline red">Los campos con datos fechas, van como fecha en formato (aaaa-mm-dd) o (dd-mm-aaaa).</li>
            <li class="font-weight-black" style="text-decoration: underline red" >Los campos ciudad y departamento se diligencia con el codigo <a href="plantillasExcel/CODIGOS-DANE-COLOMBIA.xlsx" class="text-danger">DANE</a> perteneciente a cada uno.</li>
            <li class="font-weight-black text-justify" style="text-decoration: underline red">
              Descargar
              <a href="plantillasExcel/base-willis.xlsx">Aquí</a> Archivo Base Willis Motos
            </li>
          </ol>
        </v-col>
        <v-col cols="8">
          <v-row>
            <v-col cols="12">
              <v-file-input
                accept=".xlsx, .ods, .xls"
                :show-size="1000"
                outlined
                :rules="fileRules"
                @change="checkEmpty($event)"
                color="primary"
                placeholder="Selecciona un Archivo con la extensión .xlsx, .ods, .xls"
                v-model="file"
                label="Carga Excel"
              ></v-file-input>
            </v-col>
          </v-row>

          <!-- <v-btn :disabled="!button" @click="enviarArchivo" block color="indigo darken-4" depressed  dark><v-icon>cloud_download</v-icon> Cargar Archivo</v-btn> -->
          <v-btn
            :loading="dialogEnviando"
            class="white--text"
            block
            :disabled="!button"
            color="indigo darken-4"
            depressed
            @click="enviarArchivo()"
          >
            <v-icon>cloud_upload</v-icon>Cargar Archivo
          </v-btn>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-toolbar flat>
        <div class="flex-grow-1"></div>

        <v-row class="col-4 offset-8">
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
        </v-row>
      </v-toolbar>
      <v-row class="col-12">
        <v-col>
          <v-data-table
            :search="search"
            :headers="headersArchivoCarga"
            :items="arrayArchivoCarga"
            class="elevation-3"
          >
            <template v-slot:item.action="{ item }">
              <v-btn
                :href="'/custom/'+item.ruta_errores"
                v-if="item.numero_errores>0 || item.numero_fallas>0 "
                color="warning"
                class="mx-3"
                small
              >Descargar Errores</v-btn>
              <v-btn :href="'/custom/'+item.ruta" color="success" class="mx-3" small>Descargar Excel</v-btn>
              <v-btn
                v-if="item.activo==1"
                color="primary"
                class="mx-3 btn"
                small
                @click="bloquearRegistros(item.id, 0)"
              >
                Block
                <small>base</small>
              </v-btn>
              <v-btn
                v-if="item.activo==0"
                color="warning"
                class="mx-3"
                small
                @click="bloquearRegistros(item.id, 1)"
              >
                UnBlock
                <small>base</small>
              </v-btn>
              <v-btn
                v-if="item.numero_errores>0 || item.numero_fallas>0 "
                color="error"
                small
                @click="eliminarArchivo(item)"
              >Eliminar Archivo</v-btn>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-card>
    <v-snackbar v-model="mensajeIncorrecto" color="error" right top>{{mensaje_error}}</v-snackbar>
    <v-snackbar v-model="mensajeCorrecto" color="success" right top>Base Cargada Correctamente</v-snackbar>
    <v-snackbar v-model="archivoBorrado" color="success" right top>Archivo Eliminado Correctamente</v-snackbar>
    <v-dialog v-model="dialogEnviar" persistent max-width="290">
      <v-card class="mx-auto" style="max-width: 500px;">
        <v-toolbar color="deep-orange darken-1" cards dark flat>
          <h3>Cargar Archivo</h3>
          <div class="flex-grow-1"></div>
        </v-toolbar>
        <v-card-text class="subtitle-1 mb-1">Estas Seguro de Cargar Este Archivo?</v-card-text>
        <v-card-actions>
          <v-btn text @click="dialogEnviar=false">Cancelar</v-btn>
          <div class="flex-grow-1"></div>
          <v-btn
            class="white--text"
            color="deep-orange darken-1"
            depressed
            @click="cargarArchivo()"
          >Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEnviando" hide-overlay persistent width="600" height="200">
      <v-card color="blue darken-4" dark>
        <v-card-text>
          Cargando, Por Favor Espere...
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["rol"],

  data() {
    return {
      file: [],
      search: "",
      arrayArchivoCarga: [],
      mensajeIncorrecto: false,
      mensajeCorrecto: false,
      mensaje_error: "",
      archivoBorrado: false,
      dialogEnviando: false,
      fileRules: [v => !!v || "El Archivo es Obligatorio"],
      button: false,
      dialogEnviar: false,
      headersArchivoCarga: [
        { text: "#", value: "id" },
        {
          text: "Número Registros Cargados",
          value: "numero_registros_cargados"
        },
        { text: "Ruta", value: "ruta" },

        { text: "Número Errores", value: "numero_errores" },
        { text: "Número Fallas", value: "numero_fallas" },
        { text: "Acciones", value: "action", sortable: false }
      ]
    };
  },
  methods: {
    checkEmpty(value) {
      console.log('valor', value);
      if (value != null) {
        var extension = value.name.split(".").pop();
        //si el tamaño es mayor a 20MB
        if (value.size > 20000000) {
          this.mensaje_error = "Error, El tamaño debe ser menor a 20MB";
          this.mensajeIncorrecto = true;
          this.button = false;
        } else if (
          extension != "xlsx" &&
          extension != "ods" &&
          extension != "xls"
        ) {
          this.button = false;
          this.mensaje_error = "Error, La Extensión debe xlsx, ods, xls ";
          this.mensajeIncorrecto = true;
        } else {
          this.button = true;
        }
      } else {
        this.button = false;
      }
    },
    enviarArchivo() {
      this.dialogEnviar = true;
    },
    listarArchivoCarga() {
      axios.get("/listarArchivoCargaAdicional").then(response => {
        this.arrayArchivoCarga = response.data;
      });
    },
    cargarArchivo() {
      this.dialogEnviar = false;
      this.dialogEnviando = true;
      let data = new FormData();
      data.append("file", this.file);
      axios
        .post("/cargarArchivoExcelAdicional", data, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          this.file = [];
          this.listarArchivoCarga();
          this.mensajeCorrecto = true;
          this.dialogEnviando = false;
          this.button = false;
        })
        .catch(error => {
          $.each(error.response.data.errors, function(key, value) {
            this.mensaje_error = value;
            this.mensajeIncorrecto = true;
          });
          this.dialogEnviando = false;
        });
    },
    eliminarArchivo(item) {
      console.log(item.id);
      const params = {
        id: item.id,
        archivo: item.nombre_archivo
      };
      axios
        .get(`/eliminarArchivo/${item.nombre_archivo}`, params)
        .then(res => {
          this.drop = res.data;
          this.listarArchivoCarga();
          this.archivoBorrado = true;
        })
        .catch(error => {
          console.log("error " + error);
        });
    },
    bloquearRegistros(id, param) {
      axios
        .put('/bloquearR/bloquearRegistros', {
          'id': id,
          'param': param
        })
        .then(res => {
          this.listarArchivoCarga();
          this.blockeado = res.data.activo;
        })
        .catch(error => {
          console.log("error " + error);
        });
    }
  },
  mounted() {
    this.listarArchivoCarga();
  }
};
</script>