<template>
  <div>
    <v-simple-table v-if="items!=''" dense>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">ID Venta</th>
            <th class="text-left">Identificacion</th>
            <th class="text-left">Nombres y Apellidos</th>
            <th class="text-left">Placa</th>
            <th class="text-left">Estado Inicial</th>
            <th class="text-left">Estado Final</th>
            <th class="text-left">Fecha</th>
            <th class="text-left">Usuario Gestion</th>
            <th class="text-left">Usuario Calidad</th>
            <th class="text-left">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.id_asegurado }}</td>
            <td>{{ item.nombre_asegurado }}</td>
            <td>{{ item.placa }}</td>
            <td>{{ item.tipificacion_calidad.item }}</td>
            <td v-if="item.estado_final_calidad_id!=null">{{ item.tipificacion_calidad_final.item }}</td>
            <td v-else>{{ 'NO APLICA' }}</td>
            <td>{{ item.updated_at }}</td>
            <td>{{ item.asesor.numero_documento }}</td>
            <td v-if="item.user_calidad_id==null">{{ 'NO APLICA' }}</td>
            <td v-else>{{ item.asesor_calidad.numero_documento }}</td>
            <td>
              <v-btn @click="datosCalidadIndivudual(item.id)">Ver</v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-else>
      <v-toolbar :src="'img/banner.jpeg'">
        <p class="font-weight-bold text-white">NO SE PRESENTAN VENTAS</p>
      </v-toolbar>
    </div>
    <v-spacer></v-spacer>
    <br />
    <br />
    <v-card v-if="itemsCalidad!=''">
      <v-tabs v-model="tab" background-color="deep-purple accent-4" grow dark icons-and-text>
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#tab-1">
          Datos de la Gestion
          <v-icon>perm_contact_calendar</v-icon>
        </v-tab>

        <v-tab href="#tab-2">
          Datos de la venta
          <v-icon>emoji_symbols</v-icon>
        </v-tab>

        <v-tab href="#tab-3">
          Tipificar Calidad
          <v-icon>home_work</v-icon>
        </v-tab>

        <v-tab href="#tab-4" @click="gestionCalidad(itemsCalidad)">
          Gestiones Calidad
          <v-icon>high_quality</v-icon>
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item v-for="a in 1" :key="a.id" :value="'tab-1'">
          <v-card flat>
            <v-card-text v-if="itemsCalidad!=''">
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                    <tr>
                      <th class="text-left">Identificacion</th>
                      <td>{{ itemsCalidad.id_asegurado }}</td>
                      <th class="text-left">Nombres y Apellidos</th>
                      <td>{{ itemsCalidad.nombre_asegurado }}</td>
                      <th class="text-left">Placa</th>
                      <td>{{ itemsCalidad.placa }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Email</th>
                      <td>{{ itemsCalidad.email_asegurado }}</td>
                      <th class="text-left">Producto</th>
                      <td>{{ itemsCalidad.producto }}</td>
                      <th class="text-left">No Factura</th>
                      <td>{{ itemsCalidad.no_factura }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Modelo</th>
                      <td>{{ itemsCalidad.modelo }}</td>
                      <th class="text-left">Marca</th>
                      <td>{{ itemsCalidad.marca }}</td>
                      <th class="text-left">Fasecolda</th>
                      <td>{{ itemsCalidad.fasecolda }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Valor Asegurado Fasecolda</th>
                      <td>{{ itemsCalidad.valor_asegurado_fasecolda }}</td>
                      <th class="text-left">No Chasis</th>
                      <td>{{ itemsCalidad.no_chasis }}</td>
                      <th class="text-left">No Motor</th>
                      <td>{{ itemsCalidad.no_motor }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Valor Prima Anual</th>
                      <td>{{ itemsCalidad.valor_prima_anual }}</td>
                      <th class="text-left">Valor Prima Financiada</th>
                      <td>{{ itemsCalidad.valor_prima_financiada }}</td>
                      <th class="text-left">Servicio</th>
                      <td>{{ itemsCalidad.servicio }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Ciudad de Circulacion</th>
                      <td>{{ itemsCalidad.ciudad.nombre }}</td>
                      <th class="text-left">Departamento</th>
                      <td>{{ itemsCalidad.departamento.nombre }}</td>
                      <th class="text-left">Fecha Inicio Vigencia</th>
                      <td>{{ itemsCalidad.fecha_inicio_vigencia }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Fecha Desembolso</th>
                      <td>{{ itemsCalidad.fecha_desembolso }}</td>
                      <th class="text-left">Tipo de Plan</th>
                      <td>{{ itemsCalidad.tipo_de_plan }}</td>
                      <th class="text-left">Cobertura Deducibles</th>
                      <td>{{ itemsCalidad.cobertura_deducibles }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Celular</th>
                      <td>{{ itemsCalidad.telefono_celular }}</td>
                      <th class="text-left">Direccion</th>
                      <td>{{ itemsCalidad.direccion }}</td>
                      <th class="text-left">Credito</th>
                      <td>{{ itemsCalidad.credito }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Autoriza Mensaje a Voluntad</th>
                      <td>{{ itemsCalidad.autoriza_sms_voluntad }}</td>                      
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item v-for="b in 1" :key="b.id" :value="'tab-2'">
          <v-card flat>
            <v-card-text v-if="itemsCalidad!=''">
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                    <tr>
                      <th class="text-left">Tipificacion</th>
                      <td>{{ itemsCalidad.tipificacion.item }}</td>
                      <th class="text-left">Subtipificacion</th>
                      <td>{{ itemsCalidad.subtipificacion.item }}</td>
                      <th class="text-left">Metodo de pago</th>
                      <td>{{ itemsCalidad.metodo_pago.item }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Observacion Asesor Gestion</th>
                      <td>{{ itemsCalidad.observacion_asesor }}</td>
                      <th class="text-left">Fecha Venta</th>
                      <td>{{ itemsCalidad.fecha_venta }}</td>
                      <th class="text-left">Fecha inicio Vigencia</th>
                      <td v-if="itemsCalidad.fecha_inicio_de_vigencia!=''">{{ itemsCalidad.fecha_inicio_de_vigencia }}</td>
                      <td v-else>{{ 'No se gestiono la fecha inicio de vigencia' }}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Asesor Venta</th>
                      <td>{{ itemsCalidad.asesor.nombre }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item v-for="c in 1" :key="c.id" :value="'tab-3'">
          <v-card flat>
            <v-card-text v-if="itemsCalidad!=''">
              <v-form v-model="valid">
                <v-container>
                  <v-row>
                    <v-col cols="12" md="4">
                      <v-select
                        v-model="tipificaciones"
                        :items="tipificacionesCalidad"
                        :rules="tipificacionesRules"
                        item-text="item"
                        item-value="id"
                        label="Tipificaciones"
                        required
                      ></v-select>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        :maxlength="max"
                        v-model="comentarioCalidad"
                        :rules="comentariosRules"
                        :counter="150"
                        label="Comentarios Calidad"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-btn
                        @click="guardarCalidad(itemsCalidad.id, tipificaciones, comentarioCalidad)"
                        color="primary"
                        class="btn btn-warning primary"
                      >Guardar Tipificacion</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item v-for="d in 1" :key="d.id" :value="'tab-4'">
          <v-card flat>
            <v-card-text v-if="itemsCalidad!=''">
              <v-form v-model="valid">
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-simple-table>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-left">Tipificacion Inicial</th>
                              <th class="text-left">Tipificacion Final</th>
                              <th class="text-left">Comentarios Calidad</th>
                              <th class="text-left">Fecha y Hora</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="item in itemsGestionCalidad" :key="item.id">
                              <td v-if="item.tipificacion_id==45">{{ 'Se genera venta correcta' }}</td>
                              <td v-else>{{ item.tipificacion.item }}</td>
                              <td v-if="item.subtipificacion.id==45">{{ item.subtipificacion.item }}</td>
                              <td v-else>{{ 'No hay estado Final' }}</td>
                              <td>{{ item.observacion }}</td>
                              <td>{{ item.created_at }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-snackbar color="error" top right v-model="snackbar_error">
          <div>
            <p class="mx-2 my-2" v-for="(item, i) in text_snack" :key="i">—&nbsp;{{item}}</p>
          </div>
          <v-btn color="white" text @click="snackbar_error = false">CERRAR</v-btn>
        </v-snackbar>
      </v-tabs-items>
    </v-card>
    <v-snackbar
      v-model="correcto"
      :bottom="y === 'bottom'"
      :color="color"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ 'Calidad Guardada Exitosamente' }}
      <v-btn color="black" text @click="correcto = false">X</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text_snack: [],
      snackbar_error: false,
      max: 150,
      color: "primary",
      color2: "alert",
      mode: "",
      timeout: 6000,
      x: null,
      y: "top",
      correcto: false,
      comentarioCalidad: "",
      tipificaciones: "",
      tipificacionesCalidad: [],
      valid: false,
      firstname: "",
      lastname: "",
      itemsGestionCalidad: [],
      comentariosRules: [
        v => !!v || "Los comentarios son requeridos",
        v =>
          v.length <= 150 ||
          "Los comentarios no pueden tener mas de 150 caracteres"
      ],
      tipificacionesRules: [v => !!v || "La tipificacion es requerida"],
      items: [],
      itemsCalidad: [],
      tab: null,
      text: "hola",
      mensaje: ""
    };
  },
  methods: {
    listarDatosCliente() {
      axios
        .get("/listarDatosCalidad", {})
        .then(res => {
          this.items = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error no se encuentran los datos";
        });
    },

    datosCalidadIndivudual(item) {
      this.listarTipificacionesCalidad();
      axios
        .get(`/datosCalidadIndividual/${item}`, {})
        .then(res => {
          this.itemsCalidad = res.data;
          this.gestionCalidad(this.itemsCalidad);
        })
        .catch(function(error) {
          this.mensaje = "error no hay datos para mostrar";
        });
    },

    listarTipificacionesCalidad() {
      axios
        .get("/listarTipificacionesCalidad", {})
        .then(res => {
          this.tipificacionesCalidad = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error no se encuentran las tipificaciones";
        });
    },

    guardarCalidad(itemCalidad, tipificaciones, comentarioCalidad) {
      const params = {
        comentarios: this.comentarioCalidad,
        tipificacion: this.tipificaciones,
        gestion_id: itemCalidad
      };
      axios
        .put(`/guardarCalidad/${itemCalidad}`, params)
        .then(res => {
          this.calidadGuardada = res.data;
          this.correcto = true;
          this.tipificaciones = "";
          this.comentarioCalidad = "";
          this.listarDatosCliente();
          this.itemsCalidad = "";
        })
        .catch(error => {
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          //   console.log(errores);

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach(element => {
                this.text_snack.push(element);
              });
            }
          }
          
          this.mensaje = "gestion no se pudo guardar";
        });
    },

    gestionCalidad(item) {
      axios
        .get(`/gestionesCalidad/${item.id}`, {})
        .then(res => {
          if (res.data.length > 0) {
            this.itemsGestionCalidad = res.data;
          } else {
            this.itemsGestionCalidad = [];
            this.listarDatosCliente();
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.listarDatosCliente();
  }
};
</script>
