<template>
  <div class="wrapper">
    <div v-if="itemsDatosDevoluciones!=''">
      <v-card
        class="d-inline-block"
        max-width="344"
        outlined
        v-for="item in itemsDatosDevoluciones"
        :key="item.id"
        :cols="item.flex"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">ID devolicion</div>
            <v-list-item-title class="headline mb-2">Cliente</v-list-item-title>
            <v-card-text>
              {{ item.nombre_asegurado }}
              <br />
              <br />
              <b>PLACA</b>
              {{item.placa}}
              <br />
              <b>CEDULA</b>
              {{ item.id_asegurado }}
            </v-card-text>
          </v-list-item-content>
          <v-list-item-avatar size="80" color="primary" class="display-1 font-italic">{{ item.id }}</v-list-item-avatar>
        </v-list-item>
        <v-card-actions>
          <v-btn class="btn primary" @click="listarInformacion(item)">VER</v-btn>
          <v-col class="col-sm-5 offset-sm-5">
            <b class="overline" size="5">fecha devolucion</b>
            <p class="font-weight-thin" size="5">{{ item.updated_at }}</p>
          </v-col>
        </v-card-actions>
      </v-card>
    </div>
    <div v-else>
      <v-toolbar :src="'img/banner.jpeg'">
        <p class="font-weight-bold text-white">NO SE PRESENTAN DEVOLUCIONES</p>
      </v-toolbar>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog" max-width="80%">
        <v-card class="col-12">
          <div>Datos de la devolucion</div>
          <v-expansion-panels focusable>
            <v-expansion-panel>
              <v-expansion-panel-header disable-icon-rotate>
                <v-toolbar-title class="text-center" color="teal">{{ 'Datos Cliente' }}</v-toolbar-title>
                <template v-slot:actions>
                  <v-icon color="teal">check</v-icon>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-col class="col-xl-12">
                  <v-simple-table border="top" colored-border type="info" elevation="2">
                    <template>
                      <thead>
                        <tr>
                          <th style="color:Blue">Tipo de Documento</th>
                          <td>{{itemsDatosCliente.tipo_de_documento}}</td>
                          <th style="color:Blue">ID Asegurado</th>
                          <td>{{itemsDatosCliente.id_asegurado}}</td>
                          <th style="color:Blue">Nombre del Asegurado</th>
                          <td>{{itemsDatosCliente.nombre_asegurado}}</td>
                          <th style="color:Blue">Email</th>
                          <td>{{itemsDatosCliente.email_asegurado}}</td>
                          <th style="color:Blue">Producto</th>
                          <td>{{itemsDatosCliente.producto}}</td>
                          <th style="color:Blue">No Factura</th>
                          <td>{{itemsDatosCliente.no_factura}}</td>
                        </tr>
                        <tr>
                          <th style="color:Blue">Placa</th>
                          <td>{{itemsDatosCliente.placa}}</td>
                          <th style="color:Blue">Modelo</th>
                          <td>{{itemsDatosCliente.modelo}}</td>
                          <th style="color:Blue">Marca</th>
                          <td>{{itemsDatosCliente.marca}}</td>
                          <th style="color:Blue">Fasecolda</th>
                          <td>{{itemsDatosCliente.fasecolda}}</td>
                          <th style="color:Blue">Valor Asegurado Fasecolda</th>
                          <td>{{itemsDatosCliente.valor_asegurado_fasecolda}}</td>
                          <th style="color:Blue">No Chasis</th>
                          <td>{{itemsDatosCliente.no_chasis}}</td>
                        </tr>
                        <tr>
                          <th style="color:Blue">No Motor</th>
                          <td>{{itemsDatosCliente.no_motor}}</td>
                          <th style="color:Blue">Valor Prima Anual</th>
                          <td>{{itemsDatosCliente.valor_prima_anual}}</td>
                          <th style="color:Blue">Valor Prima Financiada</th>
                          <td>{{itemsDatosCliente.valor_prima_financiada}}</td>
                          <th style="color:Blue">Servicio</th>
                          <td>{{itemsDatosCliente.servicio}}</td>
                          <th style="color:Blue">Ciudad de Circulacion</th>
                          <td>{{itemsDatosClienteCiudad.nombre}}</td>
                          <th style="color:Blue">Departamento</th>
                          <td>{{itemsDatosClienteDepartamento.nombre}}</td>
                        </tr>
                        <tr>
                          <th style="color:Blue">Fecha Inicio de Vigencia</th>
                          <td>{{itemsDatosCliente.fecha_inicio_vigencia}}</td>
                          <th style="color:Blue">Fecha Desembolso</th>
                          <td>{{itemsDatosCliente.fecha_desembolso}}</td>
                          <th style="color:Blue">Tipo de Plan</th>
                          <td>{{itemsDatosCliente.tipo_de_plan}}</td>
                          <th style="color:Blue">Cobertura Deducibles</th>
                          <td>{{itemsDatosCliente.cobertura_deducibles}}</td>
                        </tr>
                        <tr>
                          <th style="color:Blue">Telefono Celular</th>
                          <td>{{itemsDatosCliente.telefono_celular}}</td>
                          <th style="color:Blue">Direccion</th>
                          <td>{{itemsDatosCliente.direccion}}</td>
                          <th style="color:Blue">Credito</th>
                          <td>{{itemsDatosCliente.credito}}</td>
                          <th style="color:Blue">Autoriza SMS a Voluntad</th>
                          <td>{{itemsDatosCliente.autoriza_sms_voluntad}}</td>
                        </tr>
                      </thead>
                    </template>
                  </v-simple-table>
                </v-col>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header disable-icon-rotate>
                <v-toolbar-title class="text-center" color="teal">{{ 'Datos de la Venta' }}</v-toolbar-title>
                <template v-slot:actions>
                  <v-icon color="teal">add_shopping_cart</v-icon>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-col class="col-xl-12">
                  <v-simple-table dense>
                    <template v-slot:default>
                      <tbody>
                        <tr>
                          <th class="text-left">Tipificacion</th>
                          <td>{{ itemsDatosClienteTipificacion.item }}</td>
                          <th class="text-left">Subtipificacion</th>
                          <td>{{ itemsDatosClienteSubtipificacion.item }}</td>
                          <th class="text-left">Observacion Asesor Gestion</th>
                          <td>{{ itemsDatosCliente.observacion_asesor }}</td>
                        </tr>
                        <tr>
                          <th class="text-left">Fecha Venta</th>
                          <td>{{ itemsDatosCliente.updated_at }}</td>
                          <th class="text-left">Asesor Venta</th>
                          <td>{{ itemsDatosClienteAsesor.nombre }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header disable-icon-rotate>
                <v-toolbar-title class="text-center" color="teal">{{ 'Datos de Calidad' }}</v-toolbar-title>
                <template v-slot:actions>
                  <v-icon color="teal">high_quality</v-icon>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-col class="col-xl-12">
                  <v-simple-table border="top" colored-border type="info" elevation="2">
                    <template>
                      <thead>
                        <tr>
                          <th class="text-left">Tipificacion</th>
                          <td>
                            <b>{{itemsDatosClienteTipificacionCalidad.item}}</b>
                          </td>
                          <th class="text-left">Comentarios Calidad</th>
                          <td>
                            <b>{{itemsDatosCliente.observacion_calidad}}</b>
                          </td>
                          <th class="text-left">Asesor Calidad</th>
                          <td>
                            <b>{{itemsDatosAsesorCalidad.nombre}}</b>
                          </td>
                          <th class="text-left">Fecha y Hora</th>
                          <td>
                            <b>{{itemsDatosCliente.updated_at}}</b>
                          </td>
                        </tr>
                      </thead>
                    </template>
                  </v-simple-table>
                </v-col>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header disable-icon-rotate>
                <v-toolbar-title class="text-center" color="teal">{{ 'Gestion devoluciones' }}</v-toolbar-title>
                <template v-slot:actions>
                  <v-icon color="teal">cached</v-icon>
                </template>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-simple-table border="top" colored-border type="info" elevation="2">
                  <v-row class="col-12">
                    <v-col class="col-4">
                      <v-text-field
                        :maxlength="max"
                        v-model="comentarioasesor"
                        label="Comentarios"
                        outlined
                        :rules="rulesComentarios"
                      ></v-text-field>
                    </v-col>
                    <v-col class="col-4">                      
                      <v-select
                        v-model="metodoPago"
                        :items="itemsMetodoPago"
                        item-text="item"
                        item-value="id"
                        label="metodo de Pago"
                        persistent-hint
                        return-object
                        single-line
                        required
                      ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="fecha"
                            label="Picker without buttons"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="fecha" @input="menu2 = false"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                </v-simple-table>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="dialog = false">Cancelar</v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="tipificarDevolucion(itemsDatosCliente, comentarioasesor)"
                  >Guardar</v-btn>
                </v-card-actions>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
        <v-btn color="white" class="error" block text @click="dialog = false">Cerrar</v-btn>
      </v-dialog>
    </v-row>
    <v-snackbar color="error" top right v-model="snackbar_error">
      <div>
        <p class="mx-2 my-2" v-for="(item, i) in text_snack" :key="i">—&nbsp;{{item}}</p>
      </div>
      <v-btn color="white" text @click="snackbar_error = false">CERRAR</v-btn>
    </v-snackbar>
  </div>
</template>
<style lang="scss">
</style>

<script>
export default {
  data() {
    return {
      text_snack: [],
      snackbar_error: false,
      max: 150,
      comentario: "",
      accordion: false,
      itemsDatosDevoluciones: [],
      itemsDatosCliente: {},
      itemsDatosClienteCiudad: {},
      itemsDatosClienteDepartamento: {},
      itemsDatosClienteTipificacion: {},
      itemsDatosClienteSubtipificacion: {},
      itemsDatosClienteAsesor: {},
      itemsDatosClienteTipificacionCalidad: {},
      itemsDatosAsesorCalidad: {},
      itemsMetodoPago: {},
      comentarioasesor: {},
      metodoPago: {},
      fecha: new Date().toISOString().substr(0, 10),
      mensaje: "",
      alignments: ["end"],
      dialog: false,
      rulesComentarios: [
        value => !!value || "Requerido.",
        value => (value || "").length <= 150 || "Max 150 caracteres",
        value => (value || "").length >= 9 || "Min 9 caracteres"
      ],
      menu2: false,
      date: new Date().toISOString().substr(0, 10)
    };
  },
  methods: {
    listarMetodoPago() {
      axios
        .post("/listarMetodoPago", {})
        .then(res => {
          this.itemsMetodoPago = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error de tipificaciones";
        });
    },
    listarDevoluciones() {
      axios
        .get("/listarDevoluciones")
        .then(res => {
          this.itemsDatosDevoluciones = res.data;
        })
        .catch(function(error) {
          this.mensaje = "devoluciones no se encuentran";
        });
    },
    listarInformacion(item) {
      axios
        .get(`/listarInformacion/${item.id}`)
        .then(res => {
          this.itemsDatosCliente = res.data;
          this.itemsDatosClienteCiudad = res.data.ciudad;
          this.itemsDatosClienteDepartamento = res.data.departamento;
          this.itemsDatosClienteTipificacion = res.data.tipificacion;
          this.itemsDatosClienteSubtipificacion = res.data.subtipificacion;
          this.itemsDatosClienteAsesor = res.data.asesor;
          this.itemsDatosClienteTipificacionCalidad =
            res.data.tipificacion_calidad;
          this.itemsDatosAsesorCalidad = res.data.asesor_calidad;
          this.comentarioasesor = res.data.observacion_asesor;
          this.metodoPago = res.data.metodo_pago;
          console.log(res.data.metodo_pago);
          this.fecha = res.data.fecha_inicio_de_vigencia;
          this.dialog = true;
          this.listarMetodoPago();
        })
        .catch(function(error) {
          this.mensaje = "error en los datos a buscar";
        });
    },
    tipificarDevolucion(item, comentario) {
      const params = {
        gestion_id: item.id,
        comentarios: this.comentarioasesor,
        metodopago: this.metodoPago.id,
        fecha: this.fecha
      };
      axios
        .put(`/tipificarDevolucion/${item.id}`, params)
        .then(res => {
          //this.ventaActualizada = res.data;
          this.dialog = false;
          this.listarDevoluciones();
          this.comentario = "";
        })
        .catch(error => {
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          //   console.log(errores);

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach(element => {
                this.text_snack.push(element);
              });

              //   alert(key + " -> " + errores[key]);
            }
          }
          this.mensaje = "no se hizo la devolucion";
        });
    }
  },
  mounted() {
    this.listarDevoluciones();
  }
};
</script>