<template>
  <div>
    <v-container fluid v-show="Object.keys(items).length == 0">
      <v-row v-for="j in justify" :key="j" :justify="j">
        <v-col sm="3" cols="12" class="justify-content-center">
          <v-text-field
            :maxlength="max2"
            v-model="identificacion"
            label="IDENTIFICACION"
            :rules="rulesIdentificacion"
            item-value="identificacion"
          ></v-text-field>
          <v-btn
            class="btn btn-lg text-white"
            block
            color="deep-purple accent-4"
            @click="listarDatosCliente(identificacion, 1)"
          >
            <v-icon color="white">search</v-icon>BUSCAR
          </v-btn>
        </v-col>
      </v-row>
      <div class="text-center">{{ reglas }}</div>
      <div>
        <v-snackbar
          v-model="incorrecto"
          :bottom="y === 'bottom'"
          :color="color2"
          :left="x === 'left'"
          :multi-line="mode === 'multi-line'"
          :right="x === 'right'"
          :timeout="timeout"
          :top="y === 'top'"
          :vertical="mode === 'vertical'"
        >
          {{ 'No se encuentran datos vinculados al telefono ingresado' }}
          <v-btn color="red" text @click="incorrecto = false">X</v-btn>
        </v-snackbar>
      </div>
    </v-container>
    <br />
    <br />
    <div v-if="Object.keys(items).length > 0 && Object.keys(items).length <= 1">
      <v-card>
        <v-spacer></v-spacer>
        <v-toolbar color="deep-purple accent-4">
          <v-toolbar-title class="white--text text-center">WILLIS PLAN CAIDAS MOTOS</v-toolbar-title>
        </v-toolbar>
        <v-card-text class="text--primary">
          <v-simple-table>
            <tbody>
              <div v-if="items!=[]">
                <tr>
                  <th>
                    <h6>
                      <b>Nombre del Asegurado</b>
                    </h6>
                  </th>
                  <td>{{ items[0].nombre_asegurado }}</td>
                  <th>
                    <h6>
                      <b>Tipo de Documento</b>
                    </h6>
                  </th>
                  <td>{{ items[0].tipo_de_documento }}</td>
                  <th>
                    <h6>
                      <b>Numero de documento</b>
                    </h6>
                  </th>
                  <td>{{ items[0].id_asegurado }}</td>
                  <th>
                    <h6>
                      <b>Email Asegurado</b>
                    </h6>
                  </th>
                  <td>{{ items[0].email_asegurado }}</td>
                </tr>
                <tr>
                  <th>
                    <h6>
                      <b>Telefono Celular</b>
                    </h6>
                  </th>
                  <td>{{ items[0].telefono_celular }}</td>
                  <th>
                    <h6>
                      <b>Departamento</b>
                    </h6>
                  </th>
                  <td>{{ items[0].departamento.nombre }}</td>
                  <th>
                    <h6>
                      <b>Ciudad de circulacion</b>
                    </h6>
                  </th>
                  <td>{{ items[0].ciudad.nombre }}</td>
                  <th>
                    <h6>
                      <b>Direccion</b>
                    </h6>
                  </th>
                  <td>{{ items[0].direccion }}</td>
                </tr>
                <tr>
                  <th>
                    <h6>
                      <b>credito</b>
                    </h6>
                  </th>
                  <td>{{ items[0].credito }}</td>
                  <th>
                    <h6>
                      <b>Producto</b>
                    </h6>
                  </th>
                  <td>{{ items[0].producto }}</td>
                  <th>
                    <h6>
                      <b>No. de Factura</b>
                    </h6>
                  </th>
                  <td>{{ items[0].no_factura }}</td>
                  <th>
                    <h6>
                      <b>Placa</b>
                    </h6>
                  </th>
                  <td>{{ items[0].placa }}</td>
                </tr>
                <tr>
                  <th>
                    <h6>
                      <b>Modelo</b>
                    </h6>
                  </th>
                  <td>{{ items[0].modelo }}</td>
                  <th>
                    <h6>
                      <b>Marca</b>
                    </h6>
                  </th>
                  <td>{{ items[0].marca }}</td>
                  <th>
                    <h6>
                      <b>Fasecolda</b>
                    </h6>
                  </th>
                  <td>{{ items[0].fasecolda }}</td>
                  <th>
                    <h6>
                      <b>Valor Asegurado Fasecolda</b>
                    </h6>
                  </th>
                  <td>{{ items[0].valor_asegurado_fasecolda }}</td>
                </tr>
                <tr>
                  <th>
                    <h6>
                      <b>No. Chasis</b>
                    </h6>
                  </th>
                  <td>{{ items[0].no_chasis }}</td>
                  <th>
                    <h6>
                      <b>No. Motor</b>
                    </h6>
                  </th>
                  <td>{{ items[0].no_motor }}</td>
                  <th>
                    <h6>
                      <b>Valor Prima Anual</b>
                    </h6>
                  </th>
                  <td>{{ items[0].valor_prima_anual }}</td>
                  <th>
                    <h6>
                      <b>Valor Prima Financiada</b>
                    </h6>
                  </th>
                  <td>{{ items[0].valor_prima_financiada }}</td>
                </tr>
                <tr>
                  <th>
                    <h6>
                      <b>Servicio</b>
                    </h6>
                  </th>
                  <td>{{ items[0].servicio }}</td>
                  <th>
                    <h6>
                      <b>Fecha Inicio Vigencia</b>
                    </h6>
                  </th>
                  <td>{{ items[0].fecha_inicio_vigencia }}</td>
                  <th>
                    <h6>
                      <b>Fecha Desembolso</b>
                    </h6>
                  </th>
                  <td>{{ items[0].fecha_desembolso }}</td>
                  <th>
                    <h6>
                      <b>Tipo de Plan</b>
                    </h6>
                  </th>
                  <td>{{ items[0].tipo_de_plan }}</td>
                </tr>
                <tr>
                  <th>
                    <h6>
                      <b>Cobertura / Deducibles</b>
                    </h6>
                  </th>
                  <td>{{ items[0].cobertura_deducibles }}</td>
                </tr>
              </div>
            </tbody>
          </v-simple-table>
        </v-card-text>
        <v-btn v-if="Object.keys(items).length > 0" color="success" class="col-1" @click.stop="listarDatosCliente(items[0].telefono_celular, 1)">VOLVER</v-btn>
        <v-btn color="warning" class="col-1" @click="items=[]">SALIR</v-btn>
      </v-card>
      <br />
      <v-spacer></v-spacer>
      <v-expansion-panels focusable>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <v-toolbar-title class="text-center">{{ 'Arbol de Gestiones' }}</v-toolbar-title>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form>
              <v-card v-show="items[0].observacion_asesor!=''">
                <v-card-text>
                  <div dense>
                    <v-simple-table dense>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Tipificacion</th>
                            <th class="text-left">Subtipificacion</th>
                            <th class="text-left">Asesor</th>
                            <th class="text-left">Comentarios Asesor</th>
                            <th class="text-left">Fecha y Hora</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="llave  in itemsGestiones" :key="llave.id">
                            <td>{{ llave.tipificacion.item }}</td>
                            <td>{{ llave.subtipificacion.item }}</td>
                            <td>{{ llave.asesor.nombre }}</td>
                            <td>{{ llave.observacion }}</td>
                            <td>{{ llave.updated_at }}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </div>
                </v-card-text>
              </v-card>
              <div v-if="items[0].observacion_asesor==null">
                <p class="font-weight-bold text-lg-center text-uppercase">Sin gestiones</p>
              </div>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <v-spacer></v-spacer>
      <v-expansion-panels focusable v-if="items[0].subtipificacion_id!=15">
        <v-expansion-panel>
          <v-expansion-panel-header>
            <v-toolbar-title class="text-center">GESTION</v-toolbar-title>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form>
              <v-row>
                <v-col cols="12" md="6">
                  <v-select
                    v-model="tipificaciones"
                    :items="itemsTipificaciones"
                    item-text="item"
                    item-value="id"
                    label="Tipificaciones"
                    persistent-hint
                    return-object
                    :rules="rulesTipificaciones"
                    single-line
                    required
                    @change="listarSubtipificaciones()"
                  ></v-select>
                </v-col>
                <v-col cols="12" md="6">
                  <v-select
                    v-model="subtipificaciones"
                    :items="itemsSubTipificaciones"
                    item-text="item"
                    item-value="id"
                    label="Subtipificaciones"
                    persistent-hint
                    return-object
                    :rules="rulesTipificaciones"
                    single-line
                    required
                    @change="listarMetodoPago()"
                  ></v-select>
                </v-col>
                <v-col cols="12" md="6" v-if="subtipificaciones.id==15">
                  <v-select
                    v-model="metodoPago"
                    :items="itemsMetodoPago"
                    item-text="item"
                    item-value="id"
                    label="Metodo de pago"
                    persistent-hint
                    return-object
                    :rules="rulesTipificaciones"
                    single-line
                    required
                  ></v-select>
                </v-col>

                <v-col cols="12" lg="6" v-if="subtipificaciones.id==15">
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="computedDateFormatted"
                        label="Fecha inicio de vigencia"
                        hint="MM/DD/YYYY formato"
                        persistent-hint
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" no-title @input="menu2 = false"></v-date-picker>
                  </v-menu>
                  <p>
                    Fecha a guardar:
                    <strong>{{ date }}</strong>
                  </p>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" class="col-6 offset-3" md="6">
                  <v-textarea
                    background-color="grey lighten-2"
                    color="cyan"
                    v-model="comentarios"
                    label="Comentarios"
                    hint="comentarios"
                    clearable
                    :maxlength="max"
                    counter="150"
                    auto-grow
                    clear-icon="cancel"
                    :rules="rulesComentarios"
                    required
                  ></v-textarea>
                  <v-btn
                    depressed
                    color="success"
                    @click="actualizarRegistros(tipificaciones, subtipificaciones, comentarios, metodoPago)"
                    class="btn btn-lg"
                    block
                  >
                    <v-icon color="white">save</v-icon>GUARDAR
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <div v-if="items[0].subtipificacion_id==15">
        <p
          class="text-center font-weight-bold text-uppercase alert-danger"
        >Gestion Desactivada Por Venta</p>
      </div>
      <v-snackbar
        v-model="correcto"
        :bottom="y === 'bottom'"
        :color="color"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
      >
        {{ 'Gestion Guardada Exitosamente' }}
        <v-btn color="black" text @click="correcto = false">X</v-btn>
      </v-snackbar>
    </div>
    <div v-show="Object.keys(items).length > 1" class="center-block">
      <v-row>
        <v-col>
          <v-card
            class="d-inline-block"
            max-width="300"
            outlined
            v-for="item in items"
            :key="item.id"
          >
            <v-toolbar-title class="primary text-xl-center text-white">{{ item.nombre_asegurado }}</v-toolbar-title>
              <div class="text-center warning" v-if="item.tipificacion_id!=null">{{'Con Gestion'}}</div>
              <div class="text-center success" v-else>{{ 'Sin Gestion' }}</div>
            <v-list-item-content>
              <div class="text-center">Identificacion: {{item.id_asegurado}}</div>
              <v-list-item-title class="headline text-center">{{'PLACA:'}}</v-list-item-title>
              <v-card-actions class="col-xl-4 offset-xl-4">
                <v-btn class="primary btn-danger" @click="listarDatosCliente(item.id, 2)">
                  {{item.placa}}
                  <br />
                </v-btn>
              </v-card-actions>
            </v-list-item-content>
          </v-card>
        </v-col>
      </v-row>
      <v-btn color="success" @click="items=[]">VOLVER</v-btn>
    </div>
    <v-snackbar color="error" top right v-model="snackbar_error">
      <div>
        <p class="mx-2 my-2" v-for="(item, i) in text_snack" :key="i">—&nbsp;{{item}}</p>
      </div>
      <v-btn color="white" text @click="snackbar_error = false">CERRAR</v-btn>
    </v-snackbar>
    <v-snackbar color="error" top right v-model="snackbar_error">
      <div>
        <p class="mx-2 my-2" v-for="(item, i) in text_snack" :key="i">—&nbsp;{{item}}</p>
      </div>
      <v-btn color="white" text @click="snackbar_error = false">CERRAR</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from "vue";
export default {
  props: ["telefono", "unique_id"],
  $_veeValidate: {
    validator: "new"
  },
  data() {
    return {
      text_snack: [],
      snackbar_error: false,
      text_snack: [],
      snackbar_error: false,
      rulesIdentificacion: [
        value => !!value || "Requerido.",
        value => (value || "").length >= 6 || "Min 6 caracteres para la placa",
        value => {
          const identificacion = /[a-zA-Z0-9]/;
          return identificacion.test(value) || "Identificacion invalida";
        }
      ],
      reglas:
        "Puedes ingresar por tres parametros del cliente (PLACA, IDENTIFICACION O TELEFONO CELULAR)",
      justify: ["space-around"],
      identificacion: [],
      max2: 12,
      max: 150,
      mensaje: "",
      tipificaciones: "",
      subtipificaciones: "",
      comentarios: "",
      item: {},
      comentarios: "",
      itemsTipificaciones: [],
      itemsSubTipificaciones: [],
      color: "primary",
      color2: "alert",
      mode: "",
      correcto: false,
      incorrecto: false,
      button: false,
      timeout: 6000,
      x: null,
      y: "top",
      items: {},
      itemsGestiones: [],
      incorrecto: "",
      rulesTipificaciones: [value => !!value || "Requerido."],
      rulesComentarios: [
        value => !!value || "Requerido.",
        value => (value || "").length <= 150 || "Max 150 caracteres",
        value => (value || "").length >= 9 || "Min 9 caracteres"
      ],
      metodoPago: "",
      itemsMetodoPago: [],
      date: "",
      //date: new Date().toISOString().substr(0, 10),
      dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      menu2: false
    };
  },
  mounted() {
    if (this.telefono > 0) {
      console.log(this.telefono);
      this.identificacion = this.telefono;
      this.listarDatosCliente(this.identificacion, 1);
    }
    this.listarGestion(1);
    this.listarMetodoPago();
  },
  watch: {
    boton: function() {
      if (this.comentarios != null) {
        this.button = true;
      }
    },
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },

  /*   created() {
    this.listarDatosCliente(this.telefono);
  }, */

  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    listarGestion(id_clasificacion) {
      axios
        .get("listarGestion", {
          params: { clasificacion_id: id_clasificacion }
        })
        .then(res => {
          this.itemsTipificaciones = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error de tipificaciones";
        });
    },

    listarSubtipificaciones(tipificaciones) {
      this.subtipificaciones = "";
      this.metodoPago = "";
      this.date="";
      axios
        .post(`/listarSubtipificaciones/${this.tipificaciones.id}`, {
          clasificacion_id: this.tipificaciones.id
        })
        .then(res => {
          this.itemsSubTipificaciones = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error de tipificaciones";
        });
    },

    listarMetodoPago() {
      this.metodoPago = "";
      axios
        .post("/listarMetodoPago", {})
        .then(res => {
          this.itemsMetodoPago = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error de tipificaciones";
        });
    },

    listarDatosCliente(item, opc) {
      axios
        .post("/listarDatosCliente", {
          item: item,
          opc: opc
        })
        .then(res => {
          if (res.data != "") {
            this.items = res.data;
            this.listarArbolGestiones(this.items);
            this.placa = "";
            this.identificacion = "";
          } else {
            this.incorrecto = true;
          }
        })
        .catch(error => {
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          //   console.log(errores);

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach(element => {
                this.text_snack.push(element);
              });
            }
          }

          this.mensaje = "gestion no se pudo guardar";
        });
    },

    listarArbolGestiones(item) {
      axios
        .get(`/datosGestion/${item[0].id}`, {
          params: { gestion_id: this.items[0].id }
        })
        .then(res => {
          this.itemsGestiones = res.data;
        })
        .catch(function(error) {
          this.mensaje = "error no se encuentran los datos";
        });
    },

    actualizarRegistros(item, subtipificaciones, tipificaciones) {
      const params = {
        comentarios: this.comentarios,
        tipificacion: this.tipificaciones.id,
        subtipificacion: this.subtipificaciones.id,
        gestion_id: this.items[0].id,
        unique_id: this.unique_id,
        metodoDePago: this.metodoPago.id,
        fecha: this.date
      };

      axios
        .put(`/update/${this.items[0].id}`, params)
        .then(res => {
          (this.comentarios = null),
            (this.tipificaciones = ""),
            (this.subtipificaciones = ""),
            (this.metodoPago = ""),
            (this.correcto = true);
          this.listarDatosCliente(this.items[0].id);
          this.button = false;
          this.date="";

        })
        .catch(error => {
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          //   console.log(errores);

          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach(element => {
                this.text_snack.push(element);
              });

              //   alert(key + " -> " + errores[key]);
            }
          }

          console.error("este es un error", error);
        });
    }
  }
};
</script>
