<template>
  <div>
    <v-card>
      <v-system-bar color="green"></v-system-bar>
      <v-toolbar flat :src="'img/ExcelBanner.jpg'">
        <v-toolbar-title class="text-white text-uppercase">Descargar excel</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text dark>
        <v-row>
          <v-col class="d-flex" cols="12" md="3">
            <v-select
              v-model="item"
              :items="items"
              item-text="item"
              item-value="id"
              label="Informes y Reportes"
              outlined
            ></v-select>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date"
                  label="Fecha Inicial"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" @input="menu = false" :max="hoy"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date2"
                  label="Fecha Final"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date2" @input="menu2 = false" :max="hoy"></v-date-picker>
            </v-menu>
          </v-col>
          <div class="col-3">
            <v-btn
              color="success"
              :disabled="!button"
              @click="descargarExcel()"
              class="btn btn-lg"
              block
            >
              <v-icon>domain</v-icon>
              {{ 'DESCARGAR' }}
            </v-btn>
          </div>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["rol"],
  data() {
    return {
      button: true,
      item: "",
      sticky: false,
      menu: false,
      menu2: false,
      date: new Date().toISOString().substr(0, 10),
      date2: new Date().toISOString().substr(0, 10),
      hoy: new Date().toISOString().substr(0, 10),
      items: []
    };
  },
  methods: {
    validarol() {
      if (this.rol == 1) {
        this.items = [
          { item: "Informe Gestion", id: 1 },
          { item: "Reporte de Ventas", id: 2 },
          { item: "Reporte Calidad", id: 3 }
        ];
      } else if (this.rol == 3) {
        this.items = [{ item: "Reporte Calidad", id: 3 }];
      } else if (this.rol == 4) {
        this.items = [{ item: "Informe Gestion", id: 1 }];
      }
    },
    descargarInformes(item, date, date2) {
      const params = {
        id: item,
        fechaInicial: date,
        fechaFinal: date2
      };
      axios.post(`/descargarInforme/${item}`, params).then(res => {
        this.excel = res.data;
      });
    },
    descargarExcel() {
      axios({
        url: "/descargarInforme",
        method: "POST",
        data: {
          id: this.item,
          fechaInicial: this.date,
          fechaFinal: this.date2
        },
        responseType: "blob" //importante
      })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          if (this.item == 1) {
            link.setAttribute(
              "download",
              "Informe_Gestion_" + Date.now() + ".xlsx"
            );
          }
          if (this.item == 2) {
            link.setAttribute(
              "download",
              "Reporte_Ventas_" + Date.now() + ".xlsx"
            );
          }
          if (this.item == 3) {
            link.setAttribute(
              "download",
              "Reporte_calidad_" + Date.now() + ".xlsx"
            );
          }
          document.body.appendChild(link);
          link.click();
          //this.dialogEnviar=false;
          this.item = "";
          this.date = new Date().toISOString().substr(0, 10);
          this.date2 = new Date().toISOString().substr(0, 10);
        })
        .catch(error => {
          console.log("error " + error);
        });
    }
  },
  mounted() {
    this.validarol();
  }
};
</script>
