<template>
  <v-app id="keep">
    <v-app-bar app clipped-left color="deep-purple accent-4">
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <span class="title ml-3 mr-5" style="color: white; font-weight: bolder">
        Willis&nbsp;
        <span class="font-weight-light">Motos</span>
      </span>
      <v-spacer />
      <v-icon large color="white">motorcycle</v-icon>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-5">
      <v-list class="grey lighten-5">
        <template v-for="item in menu">
          <v-row v-if="item.heading" align="center">
            <v-col cols="4">
              <v-subheader
                v-if="item.heading"
                style="color:#4a235a"
                class="font-weight-bold"
              >{{ item.heading }}</v-subheader>
            </v-col>
          </v-row>
          <v-divider v-else-if="item.divider" dark class="my-4" />

          <v-list-item v-else @click="incremento(item.link)">
            <v-list-item-action>
              <v-icon style="color: black">{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="black--text">{{ item.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container class="col-12 grey lighten-2" v-show="link!=''">
        <template v-if="link==1 && (rol==1 || rol==2)">
          <dashboard-component></dashboard-component>
        </template>
        <v-spacer></v-spacer>
        <template v-if="link==3 && (rol==1 || rol==2)">
          <gestion-component :telefono="telefono" :unique_id="unique_id"></gestion-component>
        </template>
        <v-spacer></v-spacer>
        <template v-if="link==5 && (rol==1 || rol==4 || rol==3)">
          <informes-component :rol="rol"></informes-component>
        </template>
        <v-spacer></v-spacer>
        <template v-if="link==7 && (rol==1 || rol==3)">
          <calidad-component></calidad-component>
        </template>
        <v-spacer></v-spacer>
        <template v-if="link==9 && rol==1">
          <usuarios-component></usuarios-component>
          <br>
          <roles-component></roles-component>
        </template>
        <template v-if="link==10 && (rol==1 || rol==4)">
          <bases-component></bases-component>
        </template>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  props: ["rol", "telefono", "unique_id"],
  data: () => ({
    drawer: null,
    link: 0,
    items: [],
    menu: [
      { roles: ["1", "2"], heading: "Devoluciones" },
      {
        roles: ["1", "2"],
        icon: "file_copy",
        text: "Gestiones Devueltas",
        link: 1
      },
      { roles: ["1", "2"], heading: "Gestion" },
      { roles: ["1", "2"], icon: "motorcycle", text: "Gestión", link: 3 },
      { roles: ["1", "4", "3"], heading: "Reporteria" },
      {
        roles: ["1", "4", "3"],
        icon: "file_copy",
        text: "Informes y Reportes",
        link: 5
      },
      { roles: ["1", "3"], heading: "Calidad" },
      {
        roles: ["1", "3"],
        icon: "high_quality",
        text: "Calidad Ventas",
        link: 7
      },
      { roles: ["1"], heading: "Administrador" },
      {
        roles: ["1"],
        icon: "supervised_user_circle",
        text: "Roles y Usuarios",
        link: 9
      },
      {
        roles: ["1", "4"],
        icon: "file_copy",
        text: "Bases de Datos",
        link: 10
      }
    ]
  }),
  methods: {
    crearmenu() {
      console.log(this.menu);
      this.menu.forEach(element => {
        var a = element.roles;

        var idx = a.indexOf(this.rol);
        if (idx != -1) {
          this.items.push(element);
        }
      });
    },

    incremento(item) {
      this.link = item;
    }
  },
  mounted() {
    if (this.telefono>0) {
      this.link=3; 
    }
    this.crearmenu();
  }
};
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none;
}
</style>