<template>
  <div>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">ID</th>
            <th class="text-left">ROL</th>
            <th class="text-left">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in roles" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.descripcion_rol }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      roles: [],
      nombre: ""
    };
  },
  methods: {
    traerRoles() {
      axios
        .get("/traerRoles")
        .then(res => {
          this.roles = res.data;
        })
        .catch(function(error) {
          this.mensaje = "no hay roles";
        });
    }
  },
  mounted() {
    this.traerRoles();
  }
};
</script>
