<template>
    <div class="container">
        <div class="row justify-content">
            <p class="font-weight-bold">Septimo componente</p>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
