<template>
  <div>
    <v-simple-table dark :dense="dense" :fixed-header="fixedHeader" :height="height">
      <template>
        <thead>
          <tr>
            <th>#ID</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="usuario in usuarios" :key="usuario.id">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.rol.descripcion}}</td>
            <td v-if="usuario.id > 3">
              <v-btn
                color="white text-dark"
                class="btn bg-success"
                @click="abrirDialog(usuario.id)"
              >Cambiar Rol</v-btn>
            </td>
            <td v-else>{{ 'ROL PREDEFINIDO' }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-dialog v-model="dialog" max-width="300px">
      <v-card>
        <v-card-title primary-title class="info">
          <h3 class="headline mb-0">Cambiar Rol</h3>
        </v-card-title>
        <br />
        <br />
        <div v-for="rol in roles" :key="rol.id">
          <v-radio-group v-model="rolUsuario" style="margin-top:-45px">
            <v-col>
              <v-radio :label="`Rol ${rol.descripcion}`" item-value="id" :value="rol.id"></v-radio>
            </v-col>
          </v-radio-group>
        </div>
        <v-card-actions>
          <v-btn color="white" class="btn bg-danger" @click="dialog=false">Cancelar</v-btn>
          <v-btn color="white" class="btn bg-success" @click="cambiarRol()">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rolUsuario: "",
      usuarios: [],
      mensaje: "",
      dialog: false,
      roles: [],
      ex7: "red",
      ex8: "primary",
      id_usuario: ""
    };
  },
  methods: {
    listarUsuarios() {
      axios
        .get("/listarUsuarios")
        .then(res => {
          this.usuarios = res.data;
        })
        .catch(function(error) {
          this.mensaje = "no se listaron los usuarios";
        });
    },
    abrirDialog(item) {
      this.dialog = true;
      this.id_usuario = item;
    },
    traerRoles() {
      axios
        .get("/traerRoles")
        .then(res => {
          this.roles = res.data;
        })
        .catch(function(error) {
          this.mensaje = "no hay roles";
        });
    },
    cambiarRol() {
      const params = {
        id: this.id_usuario,
        rol: this.rolUsuario
      };
      axios
        .put(`/cambiarRol/${this.id_usuario}`, params)
        .then(res => {
          this.rolCambia = res.data;
          this.dialog = false;
          this.listarUsuarios();
          this.rolUsuario = "";
        })
        .catch(function(error) {
          this.mensaje = "no se cambio el rol";
        });
    }
  },
  mounted() {
    this.listarUsuarios();
    this.traerRoles();
  }
};
</script>
