<template>
<v-container fluid>
    <v-row v-for="j in justify" :key="j"
      :justify="j">
      <v-col v-for="k in 1"
        :key="k"
        md="3">
        <v-text-field
          label="PLACA"
          :rules="placa"
        ></v-text-field>
        <v-btn dark medium color="deep-purple accent-4">
          <v-icon dark>search</v-icon>
        </v-btn>
        </v-col>
        <v-col sm="3" cols="12" class="justify-content-end">
        <v-text-field
          label="IDENTIFICACION"
          :rules="identificacion"
        ></v-text-field>
        <v-btn dark medium color="deep-purple accent-4">
          <v-icon dark>search</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
  
</template>

<script>
export default {
    data: () => ({
      placa: [
        value => !!value || 'Requerido.',
        value => (value || '').length <= 6 || 'Max 6 caracteres',
        value => (value || '').length >= 5 || 'Min 5 caracteres',
        value => {
            const placa = /[a-zA-Z]{3}[0-9]{2}[0-9a-zA-Z]{1}/
            return placa.test(value) || 'Placa Invalida.'
        }
      ],
      identificacion: [
        value => !!value || 'Requerido.',
        value => (value || '').length >= 6 || 'Min 6 caracteres',
        value => {
            const identificacion = /[a-zA-Z]{3}[0-9]{2}[0-9a-zA-Z]{1}/
            return identificacion.test(value) || 'Identificacion invalida'
        }
      ],
      justify: [
        'space-around',
      ],
    }),
}
</script>

<style>

</style>